!!!
%html
%head
  %meta{:charset => "utf-8"}
%body
  %h1 Website Contact
  %p This visitor requested contact:
  %p
    = @contact.name 
    %br
    = @contact.email
    %br
  %p The visitor said:
  %p 
    = @contact.content


