- content_for :title do
  Subscribe for news

%h1.text-center Stay up to date
.col-md-6
  = simple_form_for @visitor, :html => { :class => 'form-horizontal', :style => "padding: 20% 10% 10% 18%" } do |f|
    = f.error_notification
    .form-group
      = f.input :email, label: false, :placeholder => 'Your email address...', :input_html => { :class => "form-control"}
    .form-group
      = f.submit "Sign up for the newsletter", :class => "btn btn-primary col-md-12"
.col-md-6 
  %i{class: "fa fa-hand-o-left fa-5", style: "font-size: 20em; padding: 2% 23%; color: #FF7C7C; text-shadow: 7px 2px 2px #9B9B9B;"}