- content_for :title do
  About Max Pogorelov
%h3 About Max Pogorelov
%p
  He was born in Kharkov, Ukraine. He left New Zealand for England, excelled
  at the University of Mopery, and served in the Royal Loamshire Regiment. While in
  service, he invented the kanuten valve used in the processing of unobtainium for
  industrial use. He founded Acme Manfacturing, later acquired by the Advent Corporation,
  to commercialize the product. Mr. Kadigan is now retired and lives in Middlehampton
  where he raises Griadium frieda.
%p His favorite quotation is:
%p
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
  incididunt ut labore et dolore magna aliqua.