- content_for :title do
  Contact me
%h1.text-center Write me something
.col-md-6 
  %i{class: "fa fa-envelope-o fa-5", style: "font-size: 20em; padding: 2% 23%; color: #FF7C7C; text-shadow: 7px 2px 2px #9B9B9B;"}
.col-md-6
  = simple_form_for @contact, :html => { :class => 'form-horizontal', :style => "padding: 10% 10% 10% 0; " } do |form|
    = form.error_notification
    .form-group
      = form.input :name, autofocus: true, :input_html => { :class => "form-control" }, label: false, placeholder: "name"
    .form-group
      = form.input :email, :wrapper => :prepend, :input_html => { :class => "form-control" }, label: false, placeholder: "e-mail"
    .form-group
      = form.input :content, as: :text, :input_html => { :class => "form-control" }, label: false, placeholder: "message"
    .form-group
      = form.button :submit, 'Send message', class: 'btn btn-primary col-md-12'
%h1.text-center ...or stay updated
.col-md-6