%ul.nav.navbar-nav
  %li= link_to 'Home', root_path
  %li= link_to 'About', page_path('about')
  %li= link_to 'Contact', new_contact_path
  %li= link_to 'Subscribe', new_visitor_path
  %li= link_to 'VkLiker', new_vkliker_path

