!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : "Max's Sandbox"
    %meta{:name => "description", :content =>"= content_for ? (:description) ? yield(:description) : \"Learning Rails\""}
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header{:class => "navbar-inverse navbar-fixed-top", :role => "navigatioin"}
      .container
        .navbar-header
          %a{:href => "/", :class => "navbar-brand"} Learn Rails
        = render 'layouts/navigation'
    %main{:role => "main"}
      .container
        .content
          .row
            .col-md-12
              = render 'layouts/messages'
              = yield
        %footer
          %p.text-center
            2013-#{Date.today.year} © Max Pogorelov
            

